In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [18]:
df = pd.read_csv('test_measure.csv')
df = df.drop(columns='ID_test').groupby('ID').mean().reset_index()
df.to_csv('avg_test_measure.csv', index=False)

In [11]:
df2

      Age  Weight  Height  Humidity  Temperature  Sex   ID ID_test
0    10.8    48.8   163.0      39.0         20.7    1  543   543_1
1    11.8    41.0   150.0      41.0         22.3    1   11    11_1
2    12.2    46.0   160.0      37.0         21.5    0  829   829_1
3    13.2    71.0   190.0      49.0         23.8    1  284   284_1
4    13.7    53.8   169.7      40.0         25.3    0  341   341_1
..    ...     ...     ...       ...          ...  ...  ...     ...
987  59.1    64.7   172.0      38.0         24.4    0  856   856_2
988  59.7    65.2   172.0      51.0         16.8    0  856   856_3
989  61.3   102.0   185.0      56.0         20.5    0  390   390_1
990  61.6    74.0   169.0      46.0         23.9    0  596   596_1
991  63.0    83.5   171.5      48.0         22.2    0  296   296_1

[992 rows x 8 columns]

In [ ]:
df2.map

In [22]:
df2 = pd.read_csv('subject-info.csv')
df2 = df2.drop(columns='ID_test').groupby('ID').mean().reset_index().dropna()
merged = df2.merge(df, on='ID', how='inner')
merged['Sex'] = merged['Sex'].map({1: 'Male', 0: 'Female'})

merged.to_csv('averages.csv', index=False)

In [21]:
merged['Sex'] = merged['Sex'].map({1: 'Male', 0: 'Female'})
merged

,ID,Age,Weight,Height,Humidity,Temperature,Sex,time,Speed,HR,VO2,VCO2,RR,VE
0,3,16.600000,63.8,176.000000,43.000000,24.600000,Female,535.358678,10.961322,168.208264,2398.800000,2529.297521,40.423140,67.140496
1,9,24.500000,72.0,167.000000,69.000000,22.000000,Male,498.173913,7.660641,156.112128,1629.347826,1848.693364,31.503432,52.760412
2,10,29.300000,81.0,178.000000,65.000000,21.500000,Female,626.014540,10.674960,157.998374,3025.959612,3035.904685,38.140549,84.409693
3,11,11.800000,41.0,150.000000,41.000000,22.300000,Male,454.302534,8.686587,147.794294,1332.797317,1307.636364,51.856930,41.792697
4,12,27.100000,108.0,176.000000,41.000000,24.300000,Male,398.527704,6.869129,157.082228,2330.722955,2398.680739,34.277045,71.896306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,853,16.900000,75.0,178.000000,48.000000,20.800000,Female,473.622271,8.398035,165.975930,2133.218341,2129.853712,33.526201,60.290175
826,854,34.600000,75.5,185.500000,46.000000,20.300000,Female,733.939850,6.130827,107.629699,2645.308271,2782.868421,25.578947,64.793797
827,855,42.650000,60.7,165.600000,42.450000,22.050000,Female,727.244947,10.013258,133.262643,1881.595796,2144.736459,32.870655,57.144705
828,856,59.166667,65.3,171.766667,42.333333,18.733333,Female,707.219818,9.713497,128.864465,2088.311503,2452.300114,32.629841,70.619761
829,857,29.000000,80.1,188.000000,53.000000,26.300000,Female,505.222664,8.712326,167.268390,2161.377734,2334.582505,34.500994,73.238171

In [28]:
merged['Humidity'].describe()

count    830.000000
mean      48.289880
std        8.206506
min       28.000000
25%       42.462500
50%       47.000000
75%       54.000000
max       69.000000
Name: Humidity, dtype: float64